@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@import "bootstrap/scss/bootstrap";

*{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
#up{
    height: 60px;
    width: 60px;
    background-color: $off-white;
    padding: 20px;
    border-radius: 50%;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 3;
    &:hover{
        background-color: $light-ecru;
    }
    img{
        width: 25px;
        height: 25px;
    }
}
ul{
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

figure{
    margin: 0;
}

.btn-orange{
    background-color: $orange;
    color: $white;
    padding: 10px 25px;
    cursor: pointer;
    &:hover{
        background-color: $strong-yellow;
        color: $black;
    }
}
.row > *{
    padding: 0 0;
    --bs-gutter-x: 0;
}

.white{
    color: $white;
}
.orange{
    color: $orange;
}
.light-ochre{
color: $light-ochre;
}
.ochre{
    color: $ochre;
}